.settings-page {
  padding-top: 100px;
  max-width: 1100px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.settings-page h1 {
  font-size: 28px;
  text-align: center;
  color: #333333;
  font-weight: 700;
}